body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.wrapper {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    gap: 10rem;
}

a {
    text-decoration: none;
}

header {
    background-color: #FFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2rem;
    border-radius: 100px;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-top: 50px;
}

.search-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.search-bar input[type="text"] {
    width: 80%;
    padding: 10px;
    border: 1px solid #ECF5FC;
    border-radius: 4px;
}

.search-bar .filter-button {
    padding: 10px 20px;
    background-color: #439FE2;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.search-bar .filter-button:hover {
    background-color: #acdcff;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #fff;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}
